:host {
  display: block;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 16.25rem;
  padding: 12px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.title {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.02em;
}

.circle {
  margin-right: 0.25rem;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translateY(-2px);
}

.detail {
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
}

.icon-check {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}
