<div
  class="wrapper"
  [ngStyle]="{ 'border-color': type === 'Impressions' ? '#1EC4DC' : '#27AE60' }"
>
  <div class="info">
    <div class="title-wrapper">
      <div
        class="circle"
        [ngStyle]="{
          'background-color': type === 'Impressions' ? '#1EC4DC' : '#27AE60'
        }"
      ></div>
      <span
        class="title"
        [ngStyle]="{ color: type === 'Impressions' ? '#1EC4DC' : '#27AE60' }"
      >
        {{ type }}
      </span>
    </div>
    <span class="detail">{{ value | number }}</span>
  </div>
  <nb-icon
    class="icon-check"
    [ngStyle]="{ color: type === 'Impressions' ? '#1EC4DC' : '#27AE60' }"
    icon="check-circle"
  ></nb-icon>
</div>
