@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes/dark";

$nb-enable-css-custom-properties: true;

$theme: (
  color-primary: #2474ff,
  color-secondary: #763fff,
  color-black: #0c0c0c,
  color-gray-light: rgba(255, 255, 255, 0.64),
  color-gray: rgba(255, 255, 255, 0.4),
  color-white: #fff,
  color-blue: #22c7fd,
  color-yellow: #f2b53e,
  font-family-primary: "TT Commons",
  font-family-secondary: "TT Commons",
  text-basic-color: color-white,
  header-background-color: #0f0f10,
  header-padding: 0 3.75rem,
  header-height: 4rem,
  header-shadow: none,
  layout-padding: 2.5rem 3.75rem,
  layout-background-color: #0f0f10,
  card-margin-bottom: 0,
);

$nb-themes: nb-register-theme($theme, hitarget, dark);
