<h1>Overview</h1>
<nb-card class="line-chart">
  <nb-card-body>
    <div class="general-statistic">
      <div class="general-statistic_item">
        <span class="general-statistic_item_name"> eCPM </span>
        <span class="general-statistic_item_value"> $1.20 </span>
      </div>
      <div class="general-statistic_item">
        <span class="general-statistic_item_name"> eCPC </span>
        <span class="general-statistic_item_value"> $0.23 </span>
      </div>
      <div class="general-statistic_item">
        <span class="general-statistic_item_name"> CTR </span>
        <span class="general-statistic_item_value"> 0.51% </span>
      </div>
    </div>
    <div class="chart-wrapper">
      <div class="chart" #containerRef>
        <ngx-charts-line-chart
          [view]="[containerRef.offsetWidth, 380]"
          [scheme]="colorScheme"
          [results]="multi"
          [xAxis]="true"
          [yAxis]="true"
          [curve]="chartLineCurve"
          [autoScale]="true"
        >
        </ngx-charts-line-chart>
      </div>
      <div class="chart-detail">
        <app-info-card [type]="'Impressions'" [value]="1259347"></app-info-card>
        <app-info-card [type]="'Clicks'" [value]="1259347"></app-info-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card class="mb-24">
  <nb-card-body>
    <app-data-table [title]="'Campaigns'"></app-data-table>
  </nb-card-body>
</nb-card>

<div class="section-wrap mb-24">
  <nb-card class="wrap wrap-first">
    <nb-card-body>
      <app-data-table [title]="'Best performing ads'"></app-data-table>
    </nb-card-body>
  </nb-card>
  <nb-card class="wrap">
    <nb-card-body>
      <app-data-table [title]="'Best performing ads'"></app-data-table>
    </nb-card-body>
  </nb-card>
</div>

<div class="section-wrap mb-24">
  <nb-card class="wrap wrap-first">
    <nb-card-body>
      <app-data-table [title]="'Best performing ads'"></app-data-table>
    </nb-card-body>
  </nb-card>
  <nb-card class="wrap">
    <nb-card-body>
      <app-data-table [title]="'Best performing ads'"></app-data-table>
    </nb-card-body>
  </nb-card>
</div>
