h1 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.line-chart {
  margin-bottom: 1.5rem;
}

.general-statistic {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &_item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 2.875rem;
    }

    &_name {
      display: block;
      margin-bottom: 4px;
      font-size: 1rem;
      line-height: 1.25rem;
      letter-spacing: 0.02em;
      color: #fff;
      opacity: 0.4;
    }

    &_value {
      font-size: 1.375rem;
      line-height: 1.75rem;
      color: #fff;
    }
  }
}

.chart-wrapper {
  display: flex;

  .chart {
    flex-grow: 1;

    ::ng-deep .ngx-charts {
      text {
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: 0.02em;
        opacity: 0.4;
        fill: #fff;
      }
    }
  }

  .chart-detail {
    flex-grow: 1;
  }
}

app-info-card {
  margin-bottom: 0.5rem;
}

.mb-24 {
  margin-bottom: 24px;
}

.section-wrap {
  display: flex;

  .wrap {
    flex: 1;
  }
}

.wrap-first {
  margin-right: 24px;
}
