nb-layout-header {
  box-shadow: inset 0 -1px #272829;
}

.nav-tab_wrapper {
  display: flex;

  a {
    display: block;
    padding: 1.375rem 1rem;
    color: rgba(255, 255, 255, 0.48);
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.02em;

    &.active {
      color: #fff;
      box-shadow: inset 0px -3px 0px #2474ff;
    }
  }
}
