<nb-layout>
  <nb-layout-header>
    <a href="#">
      <img src="/assets/logo.png" loading="lazy" alt="Hitarget logo" />
    </a>
    <div class="nav-tab_wrapper">
      <a
        *ngFor="let link of navLinks"
        [routerLink]="[link.url]"
        [routerLinkActive]="['active']"
      >
        {{ link.title }}
      </a>
    </div>
    <div>
      <img src="/assets/avatar.png" alt="Hitarget avatar" />
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
