<div class="header">
  <h3 class="title">{{ title }}</h3>
  <nb-icon class="icon" icon="settings"></nb-icon>
</div>
<div class="table-wrapper">
  <ngx-datatable
    class="material"
    fullscreen
    [rows]="rows"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="40"
    [rowHeight]="46"
    [scrollbarH]="true"
    [scrollbarV]="true"
  >
    <ngx-datatable-column
      *ngFor="let column of columns; index as i"
      [name]="column.name"
      [width]="i == 1 ? 250 : 150"
    >
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
