.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.icon {
  cursor: pointer;
}

.table-wrapper {
  height: 100%;
  max-height: 300px;
  overflow-y: auto;
}

// ::-webkit-scrollbar {
//   width: 10px;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: rgba(255, 255, 255, 0.08);
//   border-radius: 10px;
// }
