@import "./styles/theme";
@import "~@nebular/theme/styles/globals";
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

@include nb-install() {
  @include nb-theme-global();
}

@font-face {
  font-family: "TT Commons";
  src: url("/assets/fonts/TTCommons-Regular.ttf") format("opentype");
  // url("/assets/fonts/TTCommons-Black.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-BlackItalic.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-Bold.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-BoldItalic.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-DemiBold.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-DemiBoldItalic.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-ExtraBold.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-ExtraBoldItalic.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-ExtraLight.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-ExtraLightItalic.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-Italic.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-Light.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-LightItalic.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-Medium.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-MediumItalic.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-Thin.ttf") format("opentype"),
  // url("/assets/fonts/TTCommons-ThinItalic.ttf") format("opentype");
}

* {
  font-family: "TT Commons", sans-serif;
}

a {
  text-decoration: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

nb-layout-header nav {
  justify-content: space-between !important;
}

nb-icon {
  fill: currentColor;
}

nb-card {
  --card-padding: 1.5rem;
  --card-background-color: #1a1d1d;
  --card-border-radius: 12px;
  --card-border-width: 0;
}

.ngx-datatable.material {
  background-color: transparent;

  .datatable-header .datatable-header-cell {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.4);
    background-color: transparent;
  }

  .datatable-body .datatable-body-row .datatable-body-cell {
    display: flex;
    align-items: center;
    border-top: 1px solid #272829;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}

.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection)
  .datatable-body-row:hover
  .datatable-row-group {
  background-color: rgba(255, 255, 255, 0.2);
}
